html {
    height: 100%;
    width: 80%;
    margin: auto;
}

body {
    padding-top: 5%;
}

.container {
    text-align: center;
    margin: 2%;
}

.cards img {
    display: block;
    height: 200px;
    width: 160px;
}

.board {
    width: 52%;
    margin: auto;
}
